<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/OLUWASEGUN/Documents/The_FoodCo_Automation_Test"><classes>
         <class name="testSetUp.SetUpTests"><methods>
        <include name="testGetPageURl"/></methods></class></classes></test></suite>